/* Global Settings */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Root Color Palette */
:root {
    --darkgray: rgb(153, 153, 153);
    --lightgray: rgb(173, 173, 173);
    --lightblue: rgb(66, 139, 202);
    --darkblue: rgb(1, 51, 100);
    --red: rgb(211, 11, 13);
    --black: rgb(35, 35, 35);
}

/* Body Background Color */
body {
    background-color: var(--lightgray);
}

/* Header */
.header {
    padding-bottom: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--darkblue);
    color: white;
}

.header h1 {
    display: inline-block;
    font-size: 32x;
}

.headerTitle {
    text-align: center;
    background-color: var(--darkblue);
    color: white;

}

.countdownTimer {
    float: right;
    padding: 0px 30px 5px;
    margin-top: 1%;
}

.btnViewHighScores {
    float: left;
    text-align: center;
    margin-left: 30px;
    margin-top: 1%;
}

.container {
    flex: center;
    background-color: var(--lightgray);
    margin: 40px 20px 30px 20px;
}

.container h1 {
    font-size: 32px;
    text-align: center;
}

.randomButtonList li {
    text-align: center;
    list-style-type: none;
}

.randomButtonList button {
    outline: none;
    border: none;
    background: var(--lightblue);
    font-size: 30px;
    border-radius: 12px;
    width: 60%;
    margin: 3% 10% 3px 10%;
}

.startQuiz {
    outline: none;
    border: none;
    background: var(--red);
    font-size: 30px;
    border-radius: 12px;
    width: 25%;
    margin: 3.75%;
}